{{ define "main" }}

<!-- influencer -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6 mb-4 mb-md-0">
        <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="scholarship news">
      </div>
      <div class="col-md-6 content">
        {{ .Content }}
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScBB8UDgH7MsHX6wn83G7IoMpP5LG_uQIBJJqNwvrxSRc37Tw/viewform" target="_blank" class="btn btn-primary-outline">Register As Influencer</a>
      </div>
     
    </div>
    <div class="row">
      <!-- scholarship item -->
      {{ range .Data.Pages }}
      <div class="col-lg-6 col-sm-6 mb-6">
          <!-- I have no fucking clue why "scholarship works, while if I put "influencer", it wont work . 
            But it reads the right files in the influencer folder somehow. 
            And I am not going to understand this.-->
        {{ .Render "scholarship" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /influencer -->

{{ end }}